body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.my-container {
    display: flex;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    margin: 0;
}


.input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.input-container .my-input-group {
    padding: 20px;
    width: 100%;
}

.input-container label {
    color: black;
    display: block;
    margin-bottom: 10px;
}

.input-container input {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

#submit {
    margin: 0 20px;
}

#error {
    display: none;
    color: red;
    padding: 20px;
}

#result {
    padding: 0 20px;
}

#calculation-container {
    min-height: 30px;
}

@media (max-width: 991.98px) {
    .input-container {
        flex-direction: column;
    }
    .input-container .input-group:not(:first-child) {
        padding-top: 0px;
    }
}